.ais-Hits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ais-SearchBox-input {
    @apply form-input border-2 border-gray-300 rounded;
}

.ais-HitsPerPage-select {
    @apply form-select border-2 border-gray-300 rounded cursor-pointer;
}

.ais-SearchBox-form {
    display: flex;
}

.ais-SearchBox-form>* {
    margin: 0 10px;
}

.ais-Pagination-list {
    display: flex;
}


/* .ais-Pagination-list>* {
    margin: 0 10px;
} */

.ais-Pagination-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.ais-Pagination-link--selected {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}